* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

.page {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 9% 80% 9%;
  grid-template-rows: 8.5% 80% 8.5%;
  grid-template-areas:
    'header header header'
    'nav article ads'
    'nav footer footer';
  gap: 1em 1em;
  justify-content: center;
}

.header,
.nav,
.article,
.ads,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 214, 2);
  font-size: 3em;
}

.header {
  grid-area: header;
  border: 1px solid orange;
}

.nav {
  grid-area: nav;
  border: 1px solid orange;
}

.article {
  grid-area: article;
  border: 1px solid orange;
}

.ads {
  grid-area: ads;
  border: 1px solid orange;
}

.footer {
  grid-area: footer;
  border: 1px solid orange;
}
